@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body {
  background: linear-gradient(to right, #290047 0%,#000000 15%,#000000 50%,#000000 80%,#290047 100%);
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
.allPageWrapper {
  position: relative;
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}
.sideBanner {
  position: absolute;
  right: -159px;
  bottom: 1px;
}
.allPageCoverPopup {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 1;
  background: rgba(0,0,0, 0.7);
}
.allPageCoverPopup .popupContent {
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border: 5px solid white;
  border-radius: 5px;
  padding: 40px;
  position: relative;
}
.popupContent .closeButton {
  background: red;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 0 darkred;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.popupData {
  text-align: left;
  font-size: 20px;
}
.popupContent .closeButton:hover {
  background: #af1c0e;
}
.popupContent .closeButton:active {
  background: #7e0003;
  box-shadow: 0 0 0 darkred;
  top: 13px;
}
.lobby {
  position: relative;
}
.allPageCoverPopup span.green {
  color: greenyellow;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  color: white;
}
.App-header span {
  display: inline-block;
  font-size: 30px;
  position: relative;
  bottom: 8px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
