header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(169, 128, 255);
}
header .menu ul li {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 19px 0 0;
    font-size: 15px;
}
header .menu ul li:hover {
    color: rgb(215, 196, 255);
}
header .menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

header {
    background: url('../images/header_bg.jpg') 0 40px no-repeat;
}

.headerBlock {
    color: black;
    display: inline-block;
    background: #d2d2d2;
    border: 1px dashed #545454;
    font-size: 15px;
    padding: 5px 15px;
}
.cont.left .headerBlock { margin-right: 10px; }
.cont.right .headerBlock {
    margin-right: 0;
    margin-left: 10px;
}
.header .cont {
    width: 33.33%;
    align-self: flex-end;
    margin-bottom: 10px;
}
.cont.left { text-align: left; }
.cont.right { text-align: right; }
.cont.center { text-align: center; }
.flexContainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}


